  <div class="container-sa about-style "id="aboutid"  >
        <div class="row">
            <div class=" col-md-10 col-12 mx-auto" >
                <h1 class="text-center main-heading">About us</h1>
                <p class="text-center sub-heading">the word</p>
                <div class="row">
                    <div class="col-md-6 col-12 hero-text ">
                     


                         <figure>


                     

                         <img src="images/sa.png" alt="hellow" height="100%" width="50%">
                         </figure>
                     </div>
                     
                         

                
            <!--for right side-->
                 
    <div class="col-md-6 col-12 hero-sab d-flex justify-content-center align-item-right flex-column ">
                        <h1>hellow world</h1>
                        <h2>hi whats up</h2>
                        <p>yo yo this is <span class="bold-style">jessi pinkman</span></p>
                        <button class="btn-style ">hellow</button>

                    </div>
                         
                     
                     
                 </div>
                </div>
            </div>
        </div>
    </div>