   <div class="container-sa " >
        <div class="row">
            <div class=" col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 hero-sab order-md-0 order-1 d-flex justify-content-center align-item-start flex-column">
                        <h1>hellow world</h1>
                        <h2>hi whats up</h2>
                        <p>yo yo this is <span class="bold-style">jessi pinkman</span></p>
                        <button class="btn-style ">hellow</button>

                    </div>
            <!--for right side-->
                 <div class="col-md-6 col-12 hero-text order-md-1 order-0">
                     <div class="sabbir mb-12" > 


                         <figure>


                     

                         <img src="images/3.png" alt="hellow" height="100%" width="50%">
                         </figure>
                     </div>
                     
                         

                         
                 </div>
                     
                 </div>
                </div>
            </div>
        </div>
    </div>