<div class="container-sa   ">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" id="logo">Sabbir Tecnical</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="kahani">
        <ul class="navbar-nav m-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#servicesid">services</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#contactid">contact us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#aboutid">about us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">portfolio</a>
          </li>






      </div>
    </div>
  </div>
</div>
</nav>